<head>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">

      <div class="form-vertical">

        <h1 class="text-left">{{ 'sign up'|upcase }}</h1>

        {%- assign formId = 'RegisterForm' -%}
        {% form 'create_customer', id: formId, novalidate: 'novalidate' %}
          {% include 'form-status', form_id: formId %}

          <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">

          <label for="{{ formId }}-LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="{{ formId }}-LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocomplete="family-name">

<!--           <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label> -->
   		  <label for="CustomerEmail">Email address</label>
          <input
            type="email"
            name="customer[email]"
            id="{{ formId }}-email"
            class="{% if form.errors contains 'email' %} input--error{% endif %}"
            {% if form.email %} value="{{ form.email }}"{% endif %}
            autocorrect="off"
            autocapitalize="off"
            autocomplete="email"
            aria-required="true"
            {%- if form.errors contains 'email' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
            {%- endif -%}
          >
          {%- if form.errors contains 'email' -%}
            <span id="{{ formId }}-email-error" class="input-error-message">{% include 'icon-error' %} {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
          {%- endif -%}

          <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
          <input
            type="password"
            name="customer[password]"
            id="{{ formId }}-password"
            class="{% if form.errors contains 'password' %} input--error{% endif %}"
            aria-required="true"
            {%- if form.errors contains 'password' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-password-error"
            {%- endif -%}
          >
        
<!--          <div id="pwd_validation">
        	Password Strength: No Password
        </div> -->
        
          {%- if form.errors contains 'password' -%}
            <span id="{{ formId}}-password-error" class="input-error-message">{% include 'icon-error' %} {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
          {%- endif -%}
        
          <p style="width:72%;">Registering signs you up to receive our latest news and offers, view our
            <a href="https://www.tarocash.com.au/au/privacy-policy/" id="policy_link_1">Privacy Policy here.</a>
          </p>

          <p class="text-left" style="height: 50px;">
            <input type="submit" value="{{ 'create account >' | upcase }}" class="btn" id="register_submit_1">
          </p>
        
        <h3 class="text-center" style="width:72%; margin-top:10px;"> OR </h3>
        
        <div id="register_fb">
          <i class="fa fa-facebook-official"></i> <span> LOGIN WITH FACEBOOK ></span>
        </div>

        {% endform %}
      </div>
    </div>
    
    <div class="block block-new-customer">
      <div class="block-content" aria-labelledby="block-new-customer-heading"><h3>CREATE AN ACCOUNT TO:</h3>
        <ul>
          <li>Check out faster next time</li>
          <li>Receive member exclusive offers</li>
          <li>Track your orders online</li>
        </ul> 
        <div>
          <strong id="login-lower_1">Already a member? <a class="">
            <span>Login</span></a>
          </strong>
       </div>
      </div>
    </div>
  </div>
</div>
